body { 
	font-family: Garamond, "Times New Roman", serif;
	background-color: #00274c;
}

/*img { 
	float: right;
}*/

.title {
	text-align: center;
	font-size: 300%;
	font-family: Garamond, "Times New Roman", serif;
	margin-bottom: 40px;
	color: #ffcb05;
}

.divIndex {
	border-radius: 25px;
    background: #ffcb05;
    padding: 20px; 
    margin: 20px;
}

.divIndex:not(:last-child) {
	margin-bottom: 40px;
}

h1 { 
	font-family: Garamond, "Times New Roman", serif;
	font-size: 200%;
	text-align: center;
	border-bottom: 2px solid;
	padding-bottom: 10px;
}

h2 { 
	font-family: Garamond, "Times New Roman", serif;
	font-size: 175%;
}

h3 { 
	font-family: Garamond, "Times New Roman", serif;
	font-size: 150%;
	text-indent: 20px;
	/*border-left: thick solid #00274c;*/
}

p { 
	font-family: "Times New Roman", serif;
	font-size: 100%;
}

a:link { color: rgb(0, 0, 153) }
a:visited { color: rgb(153, 0, 153) }
a:hover { color: rgb(0, 96, 255) }
a:active { color: rgb(255, 0, 102) }