.container label {
    display: block;
    margin-top: 20px;
}

.container input[type="text"],
.container textarea,
.container input[type="email"],
.container input[type="submit"] {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
}

.container textarea {
    height: 200px;
    resize: vertical;
}

.container input[type="submit"] {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 30%;
}

.container input[type="submit"]:hover {
    background-color: #003973;
}

.gotcha {
    display: none;
}