.projects_div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .divIndexProjects {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: calc(33% - 20px);
    margin: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .img-padding-top {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
  
  .buttons {
    margin-top: 10px;
  }
  
  .left-button, .tooltip input[type="button"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }
  
  .left-button:hover, .tooltip input[type="button"]:hover {
    background-color: #444;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -105px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }